@{
    ViewBag.Title = "Välkommen till Riggen Poker!";
}
<h2 id="text">@ViewBag.Title</h2><br />
@*<h3>@ViewBag.Message</h3>*@

<h3 style="color: orangered">Om Riggen Poker</h3>
<p id="text">Vi är ett gäng glada amatörer som spelar poker online och tycker att det ibland är lite tråkigt vid borden. 
   Därför startade vi en "privat-turnering" med det fantastiska namnet *Riggen*. 
   Meningen är att stämningen ska vara uppsluppen, no bad feelings, och bara ha roligt när vi spelar. 
   Därför bestämde vi också att "turren" ska gå på fredagar så man kan ta ett glas eller två.<br />
   <br />

   I Riggenturneringen kommer pengarna i 2:a-hand och "att ha roligt" i första hand!!<br />
   <br />
   Ett annat populärt "namn" på *Riggen* är också *Gula chatten*, eftersom chattrutan är gul hela tiden.
   Dealern får knappt en syl i vädret.<br />
   <br />
</p>

<h3 style="color: orangered">Medlemskap</h3>
<p id="text">Ansökan att vara med i det exlusiva *Riggen-gänget* kan göras via forumet här på hemsidan.
   (just nu är det dock stängt för "nya" medlemmar)<br />
    <br />
</p>

<div id="text">

</div>
