
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<img src="~/Content/Images/ErrorPic.jpg" alt="Error" />
<br />
<p>Ser ut som du hittat ett fel på vår sida här har du hjälp att hitta tillbaka</p>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="/Home/Index">
            <i class="fa fa-bars" aria-hidden="true" title="Startsidan"></i>
            <span class="sr-only">Startsidan</span>
        </a>
        <p>Till Startsidan!!</p>
    </div>
</div>
