@{
    ViewBag.Title = "Home Page";
}
<div class="navbar-header img-responsive">
    <a href="~/Home/Index">
        <img src="~/Content/Images/logga.PNG" id="thumbnail" alt="Riggen" />
    </a>
</div>
<div class="jumbotron img-responsive">
    <img id="frontImage" src="~/Content/Images/firstpage.PNG" />
</div>
