@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-header img-responsive">
    <img id="thumbnail" src="http://s33.postimg.org/9ysce551r/logga.png" />
</div>

<div class="jumbotron img-responsive">
   <img id="frontImage" src="http://riggenpoker.se/riggenfront.jpg"/>
</div>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
</div>