@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="http://s33.postimg.org/eo6gpq11r/firstpage.png"/>
</div>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
</div>